body {
    background-color: #464646;
    color: #ddd;
    font-family: system-ui;
  }
  
  .container {
    position: absolute;
    width: 1000px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: radial-gradient(#0e0213, #312e36);
    overflow: hidden;
  }
  
  .header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1111;
    padding: 10px;
  }

  .header .logo{
    width:40px;
    height:40px;
    display: inline-block;
    border-radius: 25%;
}
  
  .billcontainer {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .billcard {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  .billcard h2 {
    margin-bottom: 20px;
    color: #ddd;
    font-size: 24px;
  }
  
  .billcard ul {
    list-style: none;
    padding: 0;
    color: #ddd;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .billcard ul li {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
  
  .billcard .total {
    font-size: 20px;
    margin-top: 20px;
    color: #fff;
  }
  
  .buy-now-btn {
    background-color: #ff8c00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buy-now-btn:hover {
    background-color: #e07b00;
  }
  
  