body{
    background-color: #464646;
    color:#ddd;
    font-family: system-ui;
}
.container{
    position: absolute;
    width:1000px;
    height:600px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-image: radial-gradient(#0e0213, #312e36);
    overflow: hidden;
}

.header{
    position: absolute;
    top:0;
    width:100%;
    z-index: 1111;
    padding:10px;
}

.header .logo{
    width:40px;
    height:40px;
    display: inline-block;
    border-radius: 25%;
}

.si1{
    height: auto;
    width: 550px;
    margin-top: 45px;
    float: left;
}

.writethings{
    float: right;
    width: 40%;
    margin-top: 50px;
}

.options{
    clear: both;
    margin-top: 40px;
    padding: 20px;
}

.color-options, .model-options, .type-options{
    margin-bottom: 30px;
}



.cc1{
   margin-bottom: 40px; 
font-size: 30px;

}

.opts{
    color:#aca0a0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 5px; 
    /* writen and radio button vachche gap a decide kare */
}

label{
    font-weight: bold;
}

.buy-now{
    text-align: center;
    margin-top: 25px;
}

.buy-btn{
    background-color: #00c3ff;
    color: rgb(0, 0, 0);
    font-weight: 500px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 150px;
}

.buy-btn:hover{
    background-color: #58f80d;
    
}

.hbtn{
    background-color: transparent;
    cursor: pointer;
    border: 0cap;
    right: 95%;
    margin-left: 830px;
    color: aliceblue;
    margin-bottom: 40px;
}

.habtn{
    text-decoration: none;
    color: aliceblue;
}

.btnn{

}
button a{
    text-decoration: none;
    color: black;
    
}
::selection{
    background: #000;
    color: aliceblue;
}